<p style=color: green><%= notice %></p>

<%= render @emprunt_pc %>

<div>
  <%= link_to Edit this emprunt pc; edit_emprunt_pc_path(@emprunt_pc) %> |
  <%= link_to Back to emprunt pcs; emprunt_pcs_path %>

  <%= button_to Destroy this emprunt pc; @emprunt_pc; method: :delete %>
</div>
