<p style=color: green><%= notice %></p>

<%= render @ordinateur %>

<br><br>

  <p><%= link_to Edit this ordinateur; edit_ordinateur_path(@ordinateur) ; class: btn btn-warning%> </p>
  <%= button_to Destroy this ordinateur; @ordinateur; method: :delete; class: btn btn-danger %>
<br>
  <strong><%= link_to Back to ordinateurs; ordinateurs_path %></strong>
